<aside class="module module--gold m-newsletter">
	<div class="container">
		<h2 class="m-newsletter__heading">Want to stay in the know?</h2>

		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="https://be613.us17.list-manage.com/subscribe/post?u=9a40966447430acb8ef53c8bb&amp;id=bb4e4d2ad8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		  <div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Join our newsletter for sneak peeks at upcoming events and first crack at registration.</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><!--
		    --><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9a40966447430acb8ef53c8bb_bb4e4d2ad8" tabindex="-1" value=""></div><!--
		    --><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
		  </div>
		</form>
		</div>
		<!--End mc_embed_signup-->

	</div>
</aside>